extends layout

block content
	h1= book.title
	h5 Written by #{author}
	label Genre: #{genre.genre}
	if user
		if user.userName == book.authorName
			div
				a(href=`/books/modify/${book.id}`) Modify Book
				| 
				a(href='#', id="delete", data-id=`${book.id}`) Delete
				//- a(href=`/books/delete/${book.id}`) Delete
	hr
	h3 Book pages
	if !book.pages
		ul
			each pg, i in page
				li
					a(href="/books/page/"+pg.id)= pg.pageNumber
	hr
	if user
		if user.userName == book.authorName
			h3 Add Page Section
			form(method='POST', action=`/books/${book.id}`)
				div
					label Chapter Name:
					input(type="text", name='chapterName')
				div
					label Page Number:
					input(type="number", name='pageNumber')
				div
					label Content:
					textarea(name='body')
				div
					button(type="submit") Add Page
					| 
					a(href='/users/profile') Cancel
		else
			a(href=`/`) Back
	else
		a(href=`/`) Back
	
	script(src='/javascripts/delete_book.js') 