extends layout

block content
	h1= book.title
	h5 Written by #{author}
	label Genre: #{book.genre}
	hr
	if !book.pages
		ul
			each pg, i in page
				li
					a(href="/books/page/"+pg.id)= pg.pageNumber
	if user
		if user.userName == book.authorName
			form(method='POST', action=`/books/${book.id}`)
				div
					label Chapter Name:
					input(type="text", name='chapterName')
				div
					label Page Number:
					input(type="number", name='pageNumber')
				div
					label Content:
					textarea(name='body')
				div
					button(type="submit") Add Page
					| 
					a(href='#',user.userName=book.id) Delete
					| 
					a(href='/users/profile') Cancel