DOCTYPE(html)
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="../stylesheets/style.css")
		script(src="js/bootstrap.bundle.min.js" crossorigin="anonymous")

		block title
			title OpenSourceTextbook

	body
		header
			div.container
				nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top.TBpadding1em
					a.text-light.navbar-brand.mb-0(href='/') Home
					button.navbar-toggler(
						type='button' 
						data-bs-toggle='collapse' 
						data-bs-target='#navbarNav' 
						aria-controls='navbarNav' 
						aria-expanded='false' 
						aria-label='Toggle navigation')
						span.navbar-toggler-icon
					if user
						div.collapse.navbar-collapse#navbarNav
							ul.navbar-nav.mr-auto
								li.nav-item.active
									a.nav-link.text-light.active(href='/books/add') Add Book
								li.nav-item.active
									a.nav-link.text-light.active(href='/users/profile') Profile
								li.nav-item.active
									a.text-light(href='/users/logout') Logout

					else
						div#navbarNav.collapse.navbar-collapse
							ul.navbar-nav.mr-auto
								li.nav-item.active
									a.nav-link.text-light.active(href='/textbook') Textbook

								li.nav-item.active
									a.nav-link.text-light.active(href='/login') Login

								li.nav-item.active
									a.nav-link.text-light.active(href='/register') Register
				!= messages('message', locals)
				if errors
					each error, i in errors
						div(class="alert alert-danger") #{error.msg}

		block content

		footer.TBfooter-flex-container.bd-footer.py-5.mt-5
			p Copyright &copy; 2021