extends layout

block script
	script(src="https://cdn.tiny.cloud/1/jacjw3m3b4xvz0x2gjtrlkmh0asszi8d1rzzfs62nj8733j1/tinymce/5/tinymce.min.js" referrerpolicy="origin")
	script.
		tinymce.init({
			selector:  '#tempBody',
			menubar: false,
			statusbar: false,
			readonly: 1
		})
		tinymce.init({
			selector:  '#body',
			menubar: false,
			statusbar: false,
		})
block content

	div(class="banner_edit")
		h1 Modify Page
		p This is where you edit details of your book page. 
	
	<main>
	<aside class="info3">
	h3 Book Chapter
	div
		each pg, i in pages
			if pg.id != page.id
				div(class="chapter_bar")
					a(href="/books/page/modify/"+pg.id)= pg.chapterName
					| 
					if user
						if user.userName == book.authorName
							if (pg.histories.length > 0)
								span - #{(pg.histories.length)} Pending Approval Requests
	</aside> 
	<article>
	div(class="modify_container")
		form(action=`/books/page/modify/${page.id}`, method='POST')
			if user
				if user.userName == book.authorName
					div(class="label_container")
						label Chapter Name:
						input(type="text", name='chapterName', value=`${page.chapterName}`)
					
						label Page Number:
						input(type="number", name='pageNumber',  value=`${page.pageNumber}`)
				else
					
						label Chapter Name:
						input(type="text", name='chapterName', value=`${page.chapterName}`, readonly)
					
						label Page Number:
						input(type="number", name='pageNumber',  value=`${page.pageNumber}`, readonly)
			div(class="label_container")
				textarea#tempBody(name='tempBody', style="display:none;")=page.body
			
				label Content update:
				textarea#body(name='body')=page.body
			
				label Commit message:
				input(type="text", name='commit')
			div(class="button_container")
				button#update(type="submit", class="button_edit") Update
				| 
				a(href=`/books/page/${page.id}`)
					button(type="button", class="button_edit") Cancel
		</article> 
	</main> 