extends layout

block script
	script(src="https://cdn.tiny.cloud/1/jacjw3m3b4xvz0x2gjtrlkmh0asszi8d1rzzfs62nj8733j1/tinymce/5/tinymce.min.js" referrerpolicy="origin")
	script.
		tinymce.init({
			selector:  '#tempBody',
			menubar: false,
			statusbar: false,
			readonly: 1
		})
		tinymce.init({
			selector:  '#body',
			menubar: false,
			statusbar: false,
			width: "100%",
			height: 500
			//- body_class: 'textarea_content'	
		})
		
block content
	div(class="body_content")
		div(class="banner_edit")
			h1 Modify Page
			p This is where you edit details of your book page. 
		
		div(class="modify_container")
			form(action=`/books/page/modify/${page.id}`, method='POST')
				div(class="label_container")
					label Chapter Name:
					input(type="text", name='chapterName', value=`${page.chapterName}`, class="modify_title")
						
					label Page Number:
					input(type="number", name='pageNumber',  value=`${page.pageNumber}`, class="modify_title")
					
					label Current content:
					textarea#tempBody(name='tempBody', style="display:none;")=page.body
					
					label Your content update:
					textarea#body(name='body')=page.body
					
					label Commit message:
					input(type="text", name='commit', class="modify_title")

					div(class="button_container")
						button#update(type="submit", class="button_edit") Update
						| 
						a(href=`/books/page/${page.id}`)
							button(type="button", class="button_edit") Cancel
