extends layout

block script
	script(src="https://cdn.tiny.cloud/1/jacjw3m3b4xvz0x2gjtrlkmh0asszi8d1rzzfs62nj8733j1/tinymce/5/tinymce.min.js" referrerpolicy="origin")
	script.
		tinymce.init({
			selector:  '#tempBody',
			menubar: false,
			statusbar: false,
			readonly: 1
		})
		tinymce.init({
			selector:  '#body',
			menubar: false,
			statusbar: false,
		})
block content
	<main>
	<aside class="info1">
	<h3>Better to display Book Chapters</h3>
	<ul>
		<li><a href="#">Chapter</a></li>
		<li><a href="#">Chapter</a></li>
		<li><a href="#">Chapter</a></li>
	</ul>
	</aside> 
	<article>

	h2 Modify Page
	p This is where you edit details of your book page. 
	hr
	form(action=`/books/page/modify/${page.id}`, method='POST')
		if user
			if user.userName == book.authorName
				div
					label Chapter Name:
					input(type="text", name='chapterName', value=`${page.chapterName}`)
				div
					label Page Number:
					input(type="number", name='pageNumber',  value=`${page.pageNumber}`)
			else
				div
					label Chapter Name:
					input(type="text", name='chapterName', value=`${page.chapterName}`, readonly)
				div
					label Page Number:
					input(type="number", name='pageNumber',  value=`${page.pageNumber}`, readonly)
		div
			textarea#tempBody(name='tempBody', style="display:none;")=page.body
		div
			label Content update:
			textarea#body(name='body')=page.body
		div
			label Commit message:
			input(type="text", name='commit')
		div
			button#update(type="submit", class="buttonsmall") Update
			| 
			a(href=`/books/page/${page.id}`, class="buttonsmall") Cancel
		</article> 
	</main> 