extends layout

block script
	script(src="https://cdn.tiny.cloud/1/jacjw3m3b4xvz0x2gjtrlkmh0asszi8d1rzzfs62nj8733j1/tinymce/5/tinymce.min.js" referrerpolicy="origin")
	script.
		tinymce.init({
			selector:  '#tempBody',
			menubar: false,
			statusbar: false,
			readonly: 1
		}),
		tinymce.init({
			selector: '#currBody',
			menubar: false,
			statusbar: false
		})
		tinymce.init({
			selector:  '#body',
			menubar: false,
			statusbar: false,
		})
block content
	h1 Resolve conflict
	p This is where you resolve or merge conflicts
	hr
	form(action=`/books/page/conflict/${page.id}`, method='POST')
		div
			label Chapter Name:
			input(type="text", name='chapterName', value=`${page.chapterName}`)
		div
			label Page Number:
			input(type="number", name='pageNumber',  value=`${page.pageNumber}`)
		div
			label Current Page Content:
			textarea#tempBody(name='tempBody')=page.body
		div
			label Your Update:
			textarea#body(name='body')=currVal
		div
			label Commit message:
			input(type="text", name='commit')
		div
			button(type="submit") Update
			| 
			a(href=`/books/page/${page.id}`) Cancel