extends layout

block content
	div.mt-0(class="banner_edit")
		h1(class="font-title") Modify Book
		p This is where you edit details of your book. 
	div(class= "bd-masthead mb-3")
		div.fs-4( class="container px-4 px-md-3")
			div(class ="row align-items-lg-center")
				div(class="col-12 mx-auto col-md-6 order-md-2 col-lg-8")
					//- div(class="banner_edit")
					//- 	h1(class="font-title") Modify Book
					//- 	p This is where you edit details of your book. 
					form(action=`/books/modify/${book.id}`, method='POST')
						div(class="label_container")
							label(for="title") Title: 
							input(type="text", id="text", name="title", value=`${(!prevTitle) ? '' : prevTitle}`)
						
							label Genre: 
							select(name='genre')
								each genre in distinctGenre
									option(selected) #{genre.genre}
						
							label Description: 
							textarea(name='description')=prevDesc
						div(class="button_container")
							button(type="submit", class="buttonsmall") Update
							| 
							a(href=`/books/${book.id}`)
								button(type="button", class="buttonsmall") Cancel