extends layout

block script
	script(src="https://cdn.tiny.cloud/1/jacjw3m3b4xvz0x2gjtrlkmh0asszi8d1rzzfs62nj8733j1/tinymce/5/tinymce.min.js" referrerpolicy="origin")
	script.
		tinymce.init({
			selector:  '#body',
			menubar: false,
			statusbar: false,
			toolbar: false,
			readonly: 1
		})
			tinymce.init({
			selector:  '.currBody',
			menubar: false,
			statusbar: false,
			toolbar: false,
			readonly: 1
		})

block content
	div.book-container.bg-blue.text-light
		div(class="mt-auto")
		div(class="d-flex flex-column bd-highlight")
			h1= book.title
			h5 Written by #{author}
			label Genre: #{genre.genre}
			p Description: #{book.description}
			div.bg-dark-blue.p-2
				h3 Page Details
				div
					label Chapter Name
					br
					input(type="text", name='chapterName', value=`${page.chapterName}`, disabled)
				div
					label Page Number
					br
					input(type="number", name='pageNumber', value=`${page.pageNumber}`, disabled)
				div
					label Current page update
					br
					textarea#body=page.body
				if user
					if user.userName == book.authorName
						each hist, i in history
							form(action=`/books/page/${page.id}`, method='POST')
								div
									input(type="text", name="chapterName1", style="display:none;", value=`${page.chapterName}`)
								div
									input(type="number", name="pageNumber1", style="display:none;", value=`${page.pageNumber}`)
								div
									each user1,  i in allUser
										if hist.userID === user1.id
											label Page update by: #{user1.userName}
											textarea.currBody(name='currBody')=hist.currBody
								div
									input(type="number", name="updater", style="display:none;", value=`${hist.userID}`)
								div
									button#Approve(type="submit") Approve
					a(class="btn btn-secondary m-2" href=`/books/page/modify/${page.id}`) Edit Page
					| 
					a(class="btn btn-danger m-2" href='#', id="delete", data-id=`${page.id}`, data-bookid=`${book.id}`) Delete
					| 
					a(class="btn btn-warning m-2" href=`/books/${book.id}`) Cancel
					//- else
					//- 	a(href=`/books/${book.id}`) Back
				else
					a(class="btn btn-light m-2" href=`/books/${book.id}`) Back
				script(src='/javascripts/delete_page.js') 
