extends layout 

block content
	<main>
	<article>
		h2 My Dashboard
			<fieldset>
				h3 #{user.firstName}'s Books - Total Count: #{userTotalBooksCount._count.books}
				ul
					each book, i in books
						li
							span #{(book.histories.length)} Pending Approval Requests - 
							|
							a(href="/books/"+book.id)= book.title
							|
				a(href='/books/add', class="buttoncore-update") Publish New Book
			</fieldset>
	</article>
	<aside class="info2">
		fieldset 
				h1 User Profile
				div
					label(for="userName") Username:
					input(type="text", id="userName", name="userName", value=`${user.userName}`, disabled)
				div
					label(for="email") Email:
					input(type="email", id="email", name="email", value=`${user.email}`, disabled)
				div
					label(for="firstName") FirstName:
					input(type="text", id="firstName", name="firstName", value=`${user.firstName}`, disabled)
				div
					label(for="lastName") LastName:
					input(type="text", id="lastName", name="lastName", value=`${user.lastName}`, disabled)
				div
					label(for="birthday") Birthday:
					input(type="date", id="birthday", name="birthday", value=`${user.birthday.toISOString().substring(0, 10)}`, disabled)
				
				div
					a(href='/users/modify', class="buttonsmall") Edit Profile
					| 
					a(href='/users/modify/password', class="buttonsmall") Change Password
					br
					br
					br
		</fieldset>
	</aside>
	</main> 