extends layout 

block content
	<main>
	<article>
		h2 My Dashboard
			<fieldset>
				h3 #{user.firstName}'s Books - Total Count: #{userTotalBooksCount._count.books}
				ul
					each book, i in books
						li
							a(href="/books/"+book.id)= book.title
							| 
							span - #{(book.histories.length)} Pending Approval Requests
				a(href='/books/add', class="buttoncore-update") Publish New Book
			</fieldset>
	</article>
	<aside class="info1">
		fieldset 
				//- a(href='/users/modify', class="buttonsmall") Edit Profile
				h2 User Profile
				//- form(action="/users/profile", method='GET')		
				div
					label(for="userName") Username:
					input(type="text", id="userName", name="userName", value=`${user.userName}`, disabled)
				div
					label(for="email") Email:
					input(type="email", id="email", name="email", value=`${user.email}`, disabled)
				div
					label(for="firstName") FirstName:
					input(type="text", id="firstName", name="firstName", value=`${user.firstName}`, disabled)
				div
					label(for="lastName") LastName:
					input(type="text", id="lastName", name="lastName", value=`${user.lastName}`, disabled)
				div
					label(for="birthday") Birthday:
					input(type="date", id="birthday", name="birthday", value=`${user.birthday.toISOString().substring(0, 10)}`, disabled)
				
				div
					a(href='/users/modify', class="buttonsmall") Edit Profile
					| 
					a(href='/users/modify/password', class="buttonsmall") Change Password
					br
					br
					br
		</fieldset>
	</aside>
	</main> 
	
	//- <main>
	//- <div class="row">
	//- 	<div class="column" style="background-color:#aaa;">
			
	//- 	</div>
	//- 	<div class="column" style="background-color:#bbb;">
	//- 		fieldset 
	//- 			a(href='/users/modify', class="buttonsmall") Edit Profile
	//- 			h2 User Profile
	//- 			//- form(action="/users/profile", method='GET')		
	//- 			div
	//- 				label(for="userName") Username:
	//- 				input(type="text", id="userName", name="userName", value=`${user.userName}`, disabled)
	//- 			div
	//- 				label(for="email") Email:
	//- 				input(type="email", id="email", name="email", value=`${user.email}`, disabled)
	//- 			div
	//- 				label(for="firstName") FirstName:
	//- 				input(type="text", id="firstName", name="firstName", value=`${user.firstName}`, disabled)
	//- 			div
	//- 				label(for="lastName") LastName:
	//- 				input(type="text", id="lastName", name="lastName", value=`${user.lastName}`, disabled)
	//- 			div
	//- 				label(for="birthday") Birthday:
	//- 				input(type="date", id="birthday", name="birthday", value=`${user.birthday.toISOString().substring(0, 10)}`, disabled)
				
	//- 			div
	//- 				| 
	//- 				a(href='/users/modify/password', class="buttonsmall") Change Password
	//- 				br
	//- 				br
	//- 				br
	//- 		</fieldset>
	//- 	</div>
	//- </div>
	
	//- <aside class="info1">
	//- h2 User Profile
	//- 	<fieldset>
	//- 		h3 #{user.firstName}'s Books - Total Count: #{userTotalBooksCount._count.books}
	//- 		ul
	//- 			each book, i in books
	//- 				li
	//- 					a(href="/books/"+book.id)= book.title
	//- 					| 
	//- 					span - #{(book.histories.length)} Pending Approval Requests
	//- 		a(href='/books/add', class="buttoncore-update") Publish New Book
	//- 	</fieldset>
	//- </aside> 
	//- <article>
	//- 	fieldset 
	//- 		a(href='/users/modify', class="buttonsmall") Edit Profile
	//- 		h2 User Profile
	//- 		//- form(action="/users/profile", method='GET')		
	//- 		div
	//- 			label(for="userName") Username:
	//- 			input(type="text", id="userName", name="userName", value=`${user.userName}`, disabled)
	//- 		div
	//- 			label(for="email") Email:
	//- 			input(type="email", id="email", name="email", value=`${user.email}`, disabled)
	//- 		div
	//- 			label(for="firstName") FirstName:
	//- 			input(type="text", id="firstName", name="firstName", value=`${user.firstName}`, disabled)
	//- 		div
	//- 			label(for="lastName") LastName:
	//- 			input(type="text", id="lastName", name="lastName", value=`${user.lastName}`, disabled)
	//- 		div
	//- 			label(for="birthday") Birthday:
	//- 			input(type="date", id="birthday", name="birthday", value=`${user.birthday.toISOString().substring(0, 10)}`, disabled)
			
	//- 		div
	//- 			| 
	//- 			a(href='/users/modify/password', class="buttonsmall") Change Password
	//- 			br
	//- 			br
	//- 			br
	//- 	</fieldset>
	
	
	//- 	</article> 
	//- </main> 

	//- h1 User Profile
	//- p This is where all the information is displayed after you login.
	//- hr
	

	//- <aside class="info2">
	//- 	a(href='/books/add', class="buttoncore-update") Publish New Book
	//- </aside> 